@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
 background-color: #000000;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-outline {
  text-shadow: 2px 2px 0 #ED155D;
}

.slider{
  width: 90vw;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.slider-track {
display: flex;
  animation: scroll 40s linear infinite;
  width: calc(200px * 10);
  -webkit-animation:  scroll 40s linear infinite;;
}
.slider .slide {
  width: 400px!important;
}

.slider .slide img {
  width: 100%;
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform:translateX(0);
  } 
  100% {
    -webkit-transform: translateX(calc(-200px * 4));
    transform:translateX(calc(-200px * 4));
  }
}
.foto {
  border-radius: 50%!important;
}